<div class="flex min-h-screen items-center justify-center bg-base-300">
  <div class="card w-auto shadow-2xl bg-base-100">
    <div class="card-body">
      <h2 class="card-title justify-center">Login</h2>

      <form
      class="form-control w-full max-w-xs space-y-3 text-center items-center"
      (ngSubmit)="validarYRedirigir(codigoAlumno.value, dni.value)"
  >

  <!-- Código alumno -->
  <input
    type="text"
    placeholder="Código del alumno"
    #codigoAlumno
    class="input input-bordered input-primary w-full"
  />

  <!-- DNI -->
  <input
    type="text"
    placeholder="4 últimos dígitos del DNI + letra"
    #dni
    class="input input-bordered input-secondary w-full"
  />

  <!-- Botón -->
  <button type="submit" class="btn btn-primary w-full">
    Acceder
  </button>

      </form>
    </div>
  </div>
  <div class="fixed bottom-0 left-0 right-0 bg-neutral text-neutral-content p-3 text-center text-sm">
    <p>Al introducir tus datos, consientes que queden almacenados en el sistema, cumpliendo siempre la Ley Orgánica de Protección de Datos. La aplicación no comparte datos del alumno con terceros.
      Todos los datos son gestionados por la Universidad de Málaga, y pueden ser eliminados en cualquier momento desde el botón "Borrar expediente" del perfil del alumno.
    </p>
  </div>
</div>

