<div class="form-control w-full max-w-xs space-y-3 text-center items-center">

  <!-- Código alumno -->
  <input
    type="text"
    placeholder="Código del alumno"
    #codigoAlumno
    class="input input-bordered input-primary w-full"
  />

  <!-- DNI -->
  <input
    type="text"
    placeholder="4 últimos dígitos del DNI + letra"
    #dni
    class="input input-bordered input-secondary w-full"
  />

  <!-- Botón -->
  <button
    class="btn btn-primary w-full"
    (click)="validarYRedirigir(codigoAlumno.value, dni.value)"
  >
    Acceder
  </button>

</div>
