<!-- Loader de la página mientras se hace la llamada al backend -->
@if (alumnoResource.isLoading()){
    <div class="flex justify-center items-center h-screen">
        <span class="loading loading-spinner loading-lg"></span>
    </div>
}

<!-- Mensaje de error al no encontrar al alumno -->
@if (alumnoResource.error()) {
    <h1 class="text text-red-600 text-2xl">No se ha encontrado al alumno</h1>
    <button class="btn btn-primary text-a" (click)="actualizarExpediente()">Introduce tus notas manualmente</button>
}
@else {
<h2 class="text-xl text-center">Bienvenido, nº expediente: <span class="font-bold">{{alumnoId}}</span></h2>
    <div class="divider divider-neutral"></div>


<!-- Botones de acciones sobre el expediente del alumno -->
<button class="btn btn-info" (click)="mostrarTabla.set(!mostrarTabla())">
    {{ mostrarTabla() ? 'Ocultar notas' : 'Ver notas' }}
</button>

<button class="btn btn-warning" (click)="actualizarExpediente()">
  Actualizar expediente
</button>

<button class="btn btn-error" (click)="borrarExpediente()">
  Borrar expediente
</button>

<button class="btn btn-neutral" (click)="logout()">
  Cerrar sesión
</button>

<!-- Llamada a componentes separados (tabla de notas y lista de asignaturas) -->
<div class="grid grid-cols-2 gap-3 w-full h-full">
    <div>
        @if (alumnoResource.hasValue() && mostrarTabla()) {
            <tabla-notas [alumnos]="alumnoResource.value()"/>
    }
    </div>
    <div>
        <lista-asignaturas />
    </div>
</div>
}
