<div class="overflow-x-auto">
  <table class="table">
    <thead>
      <tr>
        <th>Número</th>
        <th>Asignatura</th>
        <th>Nota</th>
      </tr>
    </thead>
    <tbody>
        @for (fila of alumnos(); track $index; let i = $index) {
      <tr [ngClass]="{'bg-green-200':+fila[1] >= 5, 'bg-red-200': +fila[1] < 5}">
        <td>{{i + 1}}</td>
        <td>{{fila[0]}}</td>
        <td>{{fila[1]}}</td>
      </tr>
    }
    </tbody>
    <div class="divider"></div>
</table>
</div>
<h2 class="text-xl font-bold">Media ponderada: {{mediaAlumno()}}</h2>
