<div class="hero bg-base-200 min-h-screen">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="text-center lg:text-left">
        <h1 class="text-5xl font-bold">Recomendación de asignaturas</h1>
        <p class="py-6">
          Introduce tu número de expediente para iniciar
        </p>
      </div>
      <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
        <div class="card-body">
          <fieldset class="fieldset">
            <input class="string" placeholder="Número de expediente" #txtSearch (keydown.enter)="goToAlumno(txtSearch.value)"/>
            <button (click)="goToAlumno(txtSearch.value)" class="btn btn-neutral mt-4">Buscar</button>
          </fieldset>
        </div>
      </div>
    </div>
  </div>