<h1 class="font-bold">Consulta tus notas (Mis Cursos -> Asignaturas) o descarga tu expediente (Mis expedientes -> Informes -> Imprimir informe) <a class="text-blue-500 underline" href="https://portalestudiante.uma.es/portalestudiante/faces/inicio" target="_blank">aquí</a></h1>
<div class="grid grid-cols-2 gap-3 w-full h-full">
    <div>
      <subir-fichero (datosExtraidos)="cargarDesdeBackend($event)" />
      <div class="flex flex-col sm:flex-row gap-2">
    <!-- <input
      type="text"
      placeholder="Asignatura"
      [(ngModel)]="nuevaAsignatura"
      class="input input-bordered w-full max-w-xs"
    />
    <input
      type="number"
      placeholder="Nota"
      [(ngModel)]="nuevaNota"
      class="input input-bordered w-full max-w-xs"
    />
    <button (click)="agregarFila()" class="btn btn-primary">Agregar</button> -->
  </div>

  <!-- Tabla -->
   @if (this.alumnos().length > 0) {
      <tabla-notas [alumnos]="this.alumnos()" mediaAlumno="" />
   }

  <!-- Media -->
  <!-- <h2 class="text-xl font-bold">Media ponderada: {{ mediaAlumno() }}</h2> -->
    </div>

    @if (alumnos().length === 0) {
      <p>Introduzca sus notas antes de continuar.</p>
    }

    @else {
      <div>
        <lista-asignaturas />
      </div>
    }

</div>
