<!-- Redirección al Portal Académico en caso de necesitar descargar el expediente -->
<h1 class="font-bold">Consulta tus notas (Mis Cursos -> Asignaturas) o descarga tu expediente (Mis expedientes -> Informes -> Imprimir informe) <a class="text-blue-500 underline" href="https://portalestudiante.uma.es/portalestudiante/faces/inicio" target="_blank">aquí</a></h1>
<div class="grid grid-cols-2 gap-3 w-full h-full">
    <div>
      <subir-fichero (datosExtraidos)="cargarDesdeBackend($event)" />
      <div class="flex flex-col sm:flex-row gap-2">
    </div>

  <!-- Tabla (estos datos son solo placeholder, ya que al insertar el PDF, si es correcto redirige a una alumno-page) -->
   @if (this.alumnos().length > 0) {
      <tabla-notas [alumnos]="this.alumnos()" mediaAlumno="" />
   }
    </div>

    @if (alumnos().length === 0) {
      <p>Introduzca sus notas antes de continuar.</p>
    }

    @else {
      <div>
        <lista-asignaturas />
      </div>
    }

</div>
