<div class="input-group flex-nowrap" style="max-width: 350px">
  <span class="input-group-text bg-nextblue" id="addon-wrapping">
    <i class="fa-solid fa-magnifying-glass"></i>
  </span>
  <input
    type="text"
    class="form-control"
    placeholder="Buscar asignatura"
    aria-describedby="addon-wrapping"
    [(ngModel)]="searchText"
  />
</div>

@if(asignaturaResource.hasValue()){
  @for (asignaturas of asignaturaResource.value(); track $index) {
      @for(asignatura of asignaturas | filterByText:searchText ; track $index){
      <div>
        {{asignatura}}
      </div>
    }
  }

      
}
